.contact-form__subtitle {
    margin-bottom: 21px;
    color: #202020;
    font-family: "TTFirsNeue-Regular";
    font-size: 19px;
    font-weight: 400;
    line-height: 23.72px;
    letter-spacing: 0.46px;
    max-width: 380px;
}


@media screen and (max-width: 1440px) and (min-width: 1200px) {
    .contact-form__subtitle {
       margin-bottom: 15px;
       font-size: 15px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .contact-form__subtitle {
        margin-bottom: 15px;
        font-size: 15px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .contact-form__subtitle {
        margin-bottom: 10px;
        font-size: 10px;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .contact-form__subtitle {
        max-width: 300px;
        font-size: 17px;
        text-align: center;
    }
}