.react-tabs__tab {
    width: 248px;
    height: 26px;
    color: #131414;
    font-family: "TTFirsNeue-DemiBold";
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.3);
    border-style: none;
    text-align: center;
    padding: 15px 0 0 0;}

.react-tabs__tab:first-child {
    margin-right: 16px;
}

.react-tabs__tab--selected  {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ac140f;
}

.react-tabs__tab-list {
    padding: 0;
    margin: 0;
    border: 0;
}


@media screen and (max-width: 1023px) and (min-width: 768px) {
    .react-tabs__tab-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .react-tabs__tab-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .react-tabs__tab-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 90%;
        margin: 0 auto;
    }
}

