.where-i-can-buy__menu {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 35px;
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .where-i-can-buy__menu {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .where-i-can-buy__menu {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 35px;
    }
}