.adaptive-photo-gal {}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .adaptive-photo-gal {
        width: 100%;
        height: 275px;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .adaptive-photo-gal {
        width: 100%;
        height: 200px;
    }
}