.card-description__additionaly-text {
    color: #202020;
    font-family: "TTFirsNeue-Regular";
    font-size: 13px;
    font-weight: 400;
    line-height: 18.72px;
    letter-spacing: 0.5px;
    font-weight: normal;
    width: 150px;
}


@media screen and (max-width: 767px) and (min-width: 425px) {
    .card-description__additionaly-text {
        display: none;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .card-description__additionaly-text {
        display: none;
    }
}
