.card__user-rewiew-info {
    margin-right: 25px;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .card__user-rewiew-info {
        margin-bottom: 15px;
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .card__user-rewiew-info {
        margin-bottom: 15px;
        margin-right: 0;
        border-bottom: 1px solid #e3e3e3;
        padding-bottom: 10px;
    } 
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .card__user-rewiew-info {
        margin-bottom: 15px;
        margin-right: 0;
        border-bottom: 1px solid #e3e3e3;
        padding-bottom: 10px;
    }
}