.card__rewiew-form-container {
    height: 460px;
    background-color: rgba(223, 223, 223, 0.6);
    border-radius: 15px;
    width: 590px;
    padding: 30px;
}

@media screen and (max-width: 1440px) and (min-width: 1200px) {
    .card__rewiew-form-container {
        width: 500px;
        padding: 25px;  
    }
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .card__rewiew-form-container {
        width: 475px; 
        padding: 20px;    
    }   
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .card__rewiew-form-container {
        width: 425px;
        padding: 15px;
    }
}
