.card-select {
    width: 377px;
    max-width: 377px;
    height: 40px;
    color: #202020;
    font-family: "TTFirsNeue-Regular";
    font-size: 19px;
    font-weight: 400;
    line-height: 28.75px;
    letter-spacing: 0.38px;
    margin-bottom: 45px;
    background-color: rgba(197, 197, 197, 0.51);
    border: none;
}