.card__form-rewiew-button {
    width: 204px;
    height: 55px;
    background-color: #b20000;
    color: #ffffff;
    font-family: "TTFirsNeue-DemiBold";
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 15px;
    margin-right: 50px;
    border: none;
}

@media screen and (max-width: 1440px) and (min-width: 1200px) {
    .card__form-rewiew-button {
        width: 185px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .card__form-rewiew-button {
        width: 185px   
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .card__form-rewiew-button {
        width: 155px;     
    }
}

