.card__video-rewiew {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 400px auto 0;
}

@media screen and (max-width: 1440px) and (min-width: 1200px) {
    .card__video-rewiew {
        width: 90%;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .card__video-rewiew {
        width: 90%;  
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .card__video-rewiew {
        width: 90%;  
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .card__video-rewiew {
        width: 90%;  
        flex-direction: column; 
        align-items: center;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .card__video-rewiew {
        width: 90%;  
        flex-direction: column;
        align-items: center;
    }
}
