.card__detailed-text {
    color: #202020;
    font-family: "TTFirsNeue-Regular";
    font-size: 20px;
    font-weight: 400;
    line-height: 23.72px;
    letter-spacing: 0.46px;
    text-align: justify;
    margin-bottom: 15px;
    white-space: pre-wrap;
}

.card__detailed-text-sec {
    color: #202020;
    font-family: "TTFirsNeue-Regular";
    font-size: 20px;
    font-weight: 400;
    line-height: 23.72px;
    letter-spacing: 0.46px;
    text-align: justify;
}



@media screen and (max-width: 1023px) and (min-width: 768px) {
    .card__detailed-text {
        font-size: 16px;
    }

    .card__detailed-text-sec {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .card__detailed-text {
        font-size: 16px;
    }  

    .card__detailed-text-sec {
        font-size: 16px;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .card__detailed-text {
        font-size: 16px;
    }

    .card__detailed-text-sec {
        font-size: 16px;
    }
}
