.card__pagination-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    margin-top: 55px;
    right: 5%;
    z-index: 1;
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .card__pagination-container {
        display: none;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .card__pagination-container {
        display: none;
    }
}