.card__description-text-title {
    color: #202020;
    font-family: "TTFirsNeue-DemiBold";
    font-size: 13px;
    font-weight: 400;
    line-height: 18.72px;
    letter-spacing: 0.5px;
    margin-bottom: 61px;
    font-weight: bold;
}