.card__detailed-title {
    width: 199px;
    height: 18px;
    color: #202020;
    font-family: "TTFirsNeue-DemiBold";
    font-size: 20px;
    font-weight: 700;
    line-height: 23.72px;
    letter-spacing: 0.46px;
    margin-bottom: 22px;
}

.card__detailed-title-first {
    width: 199px;
    height: 18px;
    color: #202020;
    font-family: "TTFirsNeue-DemiBold";
    font-size: 20px;
    font-weight: 700;
    line-height: 23.72px;
    letter-spacing: 0.46px;
    margin-top: 74px;
}

.card__detailed-title-sec {
    height: 18px;
    color: #202020;
    font-family: "TTFirsNeue-DemiBold";
    font-size: 20px;
    font-weight: 700;
    line-height: 23.72px;
    letter-spacing: 0.46px;
    margin-bottom: 22px;
}