
.card__rewiew-title-adaptive {
    display: none;
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .card__rewiew-title-adaptive {
        font-family: "TTFirsNeue-DemiBold";
        font-size: 20px;
        font-weight: 700;
        line-height: 23.72px;
        letter-spacing: 0.46px;
        margin-bottom: 22px;
        color: firebrick;
        display: flex;
        margin-left: 0;
        margin-right: auto;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .card__rewiew-title-adaptive {
        font-family: "TTFirsNeue-DemiBold";
        font-size: 20px;
        font-weight: 700;
        line-height: 23.72px;
        letter-spacing: 0.46px;
        margin-bottom: 22px;
        color: firebrick;
        display: flex;
        margin-left: 0;
        margin-right: auto;
    }
}