.card__rewiew-form-subtitle {
    width: 215px;
    height: 13px;
    color: #202020;
    font-family: "TTFirsNeue-DemiBold";
    font-size: 14px;
    font-weight: 400;
    line-height: 17.21px;
    letter-spacing: 0.46px;
}