.card__subtitle {
    color: #202020;
    font-family: "TTFirsNeue-DemiBold";
    font-size: 21px;
    font-weight: 400;
    line-height: 23.72px;
    letter-spacing: 0.5px;
    margin-bottom: 61px;
}