.pagination-description {
    color: #292929;
    font-family: "TTFirsNeue-Regular";
    font-size: 20px;
    font-weight: 400;
    line-height: 33.72px;
    text-transform: uppercase;
    letter-spacing: 0.71px;
    margin-bottom: 17px;
    opacity: 0.8;
}