.video-rewiew__text {
    width: 595px;
    height: 184px;
    color: #202020;
    font-family: "TTFirsNeue-Regular";
    font-size: 20px;
    font-weight: 400;
    line-height: 23.72px;
    letter-spacing: 0.46px;
    text-align: justify;
}