.video-rewiew__title {
    color: #202020;
    font-family: "TTFirsNeue-DemiBold";
    font-size: 20px;
    font-weight: 700;
    line-height: 23.72px;
    letter-spacing: 0.46px;
    margin-bottom: 28px;
}