.our-mission__text {
    width: 577px;
    height: 83px;
    color: #f2f2f2;
    font-family: "TTFirsNeue-Regular";
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 116px;
    text-align: center;
}