.header__dropdown-content-catalog-link {
    display: block;
    font-family: "TTFirsNeue-DemiBold";
    font-size: 18px;
    font-weight: 400;
    line-height: 19.87px;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 51px;
}