.header__dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    min-width: 1238px;
    max-height: 560px;
    width: 100%;
    padding: 12px 16px;
    z-index: 999;
    top: 53px;
    left: -250%;
    padding-top: 20px;
    padding-left: 43px;
    text-decoration: none;
}

.header__dropdown-content::after {
    content: '';
    position: absolute;
    left: 19%;
    bottom: 100%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 24px 35px 24px;
    border-color: transparent transparent rgba(255, 255, 255, 0.9) transparent;
}

.header__dropdown-content ul {
    margin-top: 8px;
    padding: 0;
}

.header__dropdown-content div .header__dropdown-content-catalog-link {
    color: #626262 !important;
}

.header__dropdown-content div .header__dropdown-content-catalog-link:hover {
    color: #494949 !important;
}

.header__dropdown-content a {
    color: #000000 !important;
}