.contact-form__input {
    border-style: none;
    width: 515px;
    height: 41px;
    margin-bottom: 24px;
    padding-left: 12px;
}


.contact-form__input:nth-child(3) {
    width: 297px;
}

@media screen and (max-width: 1440px) and (min-width: 1200px) {
    .contact-form__input {
       width: 425px;
    }
    .contact-form__input:nth-child(3) {
        width: 250px;
    }
}


@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .contact-form__input {
        width: 355px;
        margin-bottom: 20px;
        height: 32px;
    }
    .contact-form__input:nth-child(3) {
        width: 235px;
        height: 32px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .contact-form__input {
        max-width: 270px;
        height: 30px;
        margin-bottom: 15px;
    }
    .contact-form__input:nth-child(3) {
        max-width: 200px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .contact-form__input {
        max-width: 350px;
        height: 30px;
        margin-bottom: 15px;
    }

    .contact-form__input:nth-child(3) {
        max-width: 350px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .contact-form__input {
        max-width: 300px;
        height: 30px;
        margin-bottom: 15px;
    }

    .contact-form__input:nth-child(3) {
        max-width: 300px;
        margin-bottom: 15px;
    }
}