.contact-form__main-container {
    max-width: 1920px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
}    


@media screen and (max-width: 768px)  and (min-width: 425px) {
    .contact-form__main-container {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 425px) {
    .contact-form__main-container {
        flex-direction: column;
        align-items: center;
    }
}


