.contact-form__text {
    width: 271px;
    height: 12px;
    color: #202020;
    font-family: "TTFirsNeue-Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 23.72px;
    margin-bottom: 41px;
    margin-left: 12px;
}


@media screen and (max-width: 1199px) and (min-width: 1024px) {
   .contact-form__text {
        margin-top: 0;
       
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .contact-form__text {
        margin-top: 0;
        margin-bottom: 20px;
       
    }
}