.for-wholesale-customers-form__text {
    width: 267px;
    height: 12px;
    color: #202020;
    font-family: "TTFirsNeue-Regular";
    font-size: 14px;
    font-weight: 400;
    line-height: 23.72px;
}