.for-wholesale-customers-form__title {
    width: 542px;
    height: 65px;
    color: #1a1a1a;
    font-family: "TTFirsNeue-Regular";
    font-size: 31px;
    font-weight: 400;
    line-height: 23.97px;
}