.for-wholesale-customers-advantages__title {
    color: #1a1a1a;
    font-family: "TTFirsNeue-Regular";
    font-size: 31px;
    font-weight: 400;
    line-height: 23.97px;
    margin-bottom: 30px;
    margin-top: 40px;
}