.for-wholesale-customers-form__subtitle {
    width: 380px;
    height: 18px;
    color: #202020;
    font-family: "TTFirsNeue-Regular";
    font-size: 20px;
    font-weight: 400;
    line-height: 23.72px;
    margin-bottom: 21px;
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .for-wholesale-customers-form__subtitle {
        width: 550px;
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .for-wholesale-customers-form__subtitle {
        width: 550px;
        margin-bottom: 35px;
    }
}


@media screen and (max-width: 767px) and (min-width: 425px) {
    .for-wholesale-customers-form__subtitle  {
       font-size: 12px;
    }   
}

@media screen and (max-width: 425px) and (min-width: 375px) {
    .for-wholesale-customers-form__subtitle {
        font-size: 12px;
    }
}
