.for-wholesale-customers-advantages__text {
    color: #202020;
    font-family: "TTFirsNeue-Regular";
    font-size: 27px;
    font-weight: 400;
    letter-spacing: 0.46px;
    line-height: 50.97px;
}