.for-wholesale-customers-advantages__button {
    max-width: 249px;
    height: 44px;
    background-color: #b30000;
    color: #ddd8d8;
    font-family: "TTFirsNeue-Regular";
    font-size: 20px;
    font-weight: 400;
    line-height: 23.72px;
    letter-spacing: 0.46px;
    border: none;
}

.for-wholesale-customers-advantages__button:active
:focus {
    outline: none;
}

.for-wholesale-customers-advantages__button:hover {
    cursor: pointer;
    background-color: #d12b2b;
    transition: all .1s linear;
}


@media screen and (max-width: 1400px) and (min-width: 1200px) {
    .for-wholesale-customers-advantages__button {
        

    }
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .for-wholesale-customers-advantages__button {
        

    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .for-wholesale-customers-advantages__button {
       
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .for-wholesale-customers-advantages__button {
        width: 300px;
    }
    
}

@media screen and (max-width: 425px) and (min-width: 375px) {
    .for-wholesale-customers-advantages__button {
        width: 300px;
    }
    
}