.for-wholesale-customers-form__text-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}


@media screen and (max-width: 1400px) and (min-width: 1200px) {
    .for-wholesale-customers-form__text-container {
        margin-top: 0;
    }
}


@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .for-wholesale-customers-form__text-container {
        margin-top: 0;
        width: 365px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .for-wholesale-customers-form__text-container {
        margin-top: 0;
        width: 500px;
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .for-wholesale-customers-form__text-container {
        margin-top: 0;
        width: 325px;
    }
}

@media screen and (max-width: 425px) and (min-width: 375px) {
    .for-wholesale-customers-form__text-container {
        margin-top: 0;
        width: 275px;
    }
}

