.our-mission__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 300px;
    padding: 25px;
    width: 100%;
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .our-mission__container {

    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .our-mission__container {

    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .our-mission__container {
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) and (min-width: 375px) {
    .our-mission__container {
        flex-direction: column;
    }
}

