.product-line__card-info {
    transition: left .2s linear;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*overflow: hidden;*/
    z-index: 0;
    position: relative;
    left: 40%;
    opacity: 0;
    transition: all ease-in 0.3s;
}
