.where-i-can-buy__town {
    color: #202020;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.72px;
    font-family: "TTFirsNeue-DemiBold";
    font-weight: 400;
    letter-spacing: 0.38px;
    text-decoration: none;
    max-width: 265px;

}