.where-i-can-buy__phone-number {
    color: #202020;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.72px;
    font-family: "TTFirsNeue-Regular";
    font-weight: 400;
    letter-spacing: 0.38px;
    text-decoration: none;
    max-width: 265px;
}