.where-i-can-buy__shops {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 34px;
    max-width: 1920px;
    height: 612px;
    margin-bottom: 202px;
}

@media screen and (max-width: 1600px) and (min-width: 1401px) {
    .where-i-can-buy__shops {
        height: 450px;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1200px) {
    .where-i-can-buy__shops {
        flex-direction: column;
        align-items: center;
        height: 1000px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .where-i-can-buy__shops {
        flex-direction: column;
        align-items: center;
        height: 1000px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .where-i-can-buy__shops {
        flex-direction: column;
        align-items: center;
        height: 1000px;
        width: 700px;
    }
}


@media screen and (max-width: 767px) {

    .where-i-can-buy {
        width: 100% !important;
    }

    .where-i-can-buy__shops {
        margin-bottom: 0;
        height: auto;
    }

    .where-i-can-buy__shop-card {
        position: absolute;
        height: 225px;
        width: 220px;
        right: 35%;
        background-color: #ffffff;
        margin-top: 120px;
        color: #202020;
        font-size: 14px;
        font-weight: 400;
        line-height: 23.72px;
        font-family: "TTFirsNeue-Regular";
        font-weight: 400;
        letter-spacing: 0.38px;
    }

    .where-i-can-buy__shop-card::before {
        position: absolute;
        top: 100%;
        content: "";
        border: 110px solid transparent;
        border-top: 30px solid #ffffff;
    }

    .where-i-can-buy__shop-card ul {
        height: 120px;
        width: 80%;
        padding: 0;
        margin: 10px auto;
    }

    .where-i-can-buy__shop-card ul li {
        height: 20px;
        width: 160px;
        padding: 0;
        color: black;
    }

    .shop-map {
        width: 100%;
        max-width: 100% !important;
        height: 60%;
    }

    .react-tabs__tab-panel {
        width: 100%;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .where-i-can-buy__shop-card {
        right: 22%;
    }
}