.where-i-can-buy__shop-description {
    color: #202020;
    font-size: 14px;
    line-height: 23.72px;
    font-family: "TTFirsNeue-Regular";
    font-weight: 400;
    letter-spacing: 0.38px;
    text-decoration: none;
    max-width: 172px;
}