.where-i-can-buy__subtitle {
    color: #202020;
    font-size: 14px;
    font-weight: 400;
    line-height: 23.72px;
    font-family: "TTFirsNeue-Regular";
    font-weight: 400;
    letter-spacing: 0.38px;
    text-decoration: none;
}

@media screen and (max-width: 1440px) and (min-width: 1200px) {
    .where-i-can-buy__subtitle {
        font-size: 12px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .where-i-can-buy__subtitle {
        font-size: 12px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .where-i-can-buy__subtitle {
        font-size: 12px;
    } 
}