.button-pagination-right {
    width: 31px;
    height: 29px; 
    background-image: url("../../../images/right.png");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 9px;
}

.button-pagination-right:hover {
    cursor: pointer;
    background-color:  rgba(235, 236, 235, 0.5);
}