.input-range {
    height: 1rem;
    position: relative;
    width: 145px;
}

.input-range__track--background {
    left: 0;
    margin-top: -0.15rem;
    position: absolute;
    right: 0;
    top: 50%;
}

.input-range__label--min {
    left: 0;
}

.input-range__label--min, .input-range__label--max {
    display: none;
    bottom: -1.4rem;
    position: absolute;
}

.input-range__label {
    color: #000000;
    font-family: "Helvetica Neue", san-serif;
    font-size: 0.8rem;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    white-space: nowrap;
}

.input-range__track--background {
    left: 0;
    margin-top: -0.15rem;
    position: absolute;
    right: 0;
    top: 50%;
}

.input-range__track {
    background-color: #ad1410;
    border-radius: 0.3rem;
    cursor: pointer;
    display: block;
    height: 0.3rem;
    position: relative;
    -webkit-transition: left 0.3s ease-out, width 0.3s ease-out;
    transition: left 0.3s ease-out, width 0.3s ease-out;
}

.input-range__track--background {
    left: 0;
    margin-top: -0.15rem;
    position: absolute;
    right: 0;
    top: 50%;
}

.input-range__label--max {
    right: 0;
}

.input-range__label--min, .input-range__label--max {
    bottom: -12px;
    position: absolute;
}

.input-range__label {
    color: #000000;
    font-family: "Helvetica Neue", san-serif;
    font-size: 0.8rem;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    white-space: nowrap;
}

.input-range__label-container {
    
    left: -50%;
    position: relative;
}

.input-range__label {
    color: #000000;
    font-family: "Helvetica Neue", san-serif;
    font-size: 0.8rem;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    white-space: nowrap;
}

.input-range__slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #000000;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: 14px;
    width: 14px;
    margin-left: -0.5rem;
    margin-top: -0.65rem;
    outline: none;
    position: absolute;
    top: 1%;
    -webkit-transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
    transition: box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out, -webkit-transform 0.3s ease-out;
}


@media screen and (max-width: 1440px) and (min-width: 1200px) {
    .input-range {
        width: 100%;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .input-range {
        width: 100%;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .input-range {
        width: 100%;
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .input-range {
        width: 100%;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .input-range {
        width: 100%;
    }
}
