.product-line__button {
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    width: 142px;
    margin-left: 10%;
    margin-bottom: 80px;
    text-align: center;
    margin-top: 20px;
}

.product-line__button:hover {
    cursor: pointer;
}

.product-line__button:hover p {
    text-decoration: underline;
}

.product-line__button p {
    color: #4a4a4a;
    font-family: "TTFirsNeue-Regular";
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 5px;
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .product-line__button {
        display: none;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .product-line__button {
        display: none;
    }
}