.product-line__card {
    margin-top: 25px;
    border-right: rgba(0, 0, 0, 0.4) 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    position: relative;
    transition: all ease-in 0.3s;

}

.product-line__card:hover .product-line__card-item .product-line__card-info {
    transition: all ease-in 0.3s;
    opacity: 1;
    left: 17px;
}

.product-line__card:hover .product-line__card-item .product__photo {
    transition: all ease-in 0.3s;
    left: 0;
}

.product-line__card:hover .product__container .product-button {
    transition: all ease-in 0.3s;
    width: 75px;
    opacity: 1;
}


.product-line__card:hover .product__container .red-basket__photo {
    display: none;
    transition: all ease-in 0.3s;
}



.product-line__card:hover {
    cursor: pointer;
}

.product-line__card:hover {
    background-color: rgba(235, 236, 235, 0.5)
}


.product-line__card:nth-child(4) {
    border-right: none;
}

.product-line__card:nth-child(8) {
    border-right: none;
}

.product-line__card:nth-child(12) {
    border-right: none;
}

.product-line__card:nth-child(16) {
    border-right: none;
}

@media screen and (max-width: 1440px) and (min-width: 1200px) {

    .product-line__card:nth-child(4) {
        border-right: rgba(0, 0, 0, 0.4) 1px solid;
    }

    .product-line__card:nth-child(8) {
        border-right: rgba(0, 0, 0, 0.4) 1px solid;
    }

    .product-line__card:nth-child(12) {
        border-right: rgba(0, 0, 0, 0.4) 1px solid;
    }

    .product-line__card:nth-child(16) {
        border-right: rgba(0, 0, 0, 0.4) 1px solid;
    }

    .product-line__card:nth-child(3) {
        border-right: none;
    }

    .product-line__card:nth-child(6) {
        border-right: none;
    }

    .product-line__card:nth-child(9) {
        border-right: none;
    }

    .product-line__card:nth-child(12) {
        border-right: none;
    }

    .product-line__card:nth-child(16) {
        border-right: none;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {

    .product-line__card:nth-child(2) {
        border-right: none;
    }

    .product-line__card:nth-child(4) {
        border-right: none;
    }

    .product-line__card:nth-child(6) {
        border-right: none;
    }

    .product-line__card:nth-child(8) {
        border-right: none;
    }

    .product-line__card:nth-child(10) {
        border-right: none;
    }

    .product-line__card:nth-child(12) {
        border-right: none;
    }

    .product-line__card:nth-child(14) {
        border-right: none;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .product-line__card:nth-child(2) {
        border-right: none;
    }

    .product-line__card:nth-child(4) {
        border-right: none;
    }

    .product-line__card:nth-child(6) {
        border-right: none;
    }

    .product-line__card:nth-child(8) {
        border-right: none;
    }

    .product-line__card:nth-child(10) {
        border-right: none;
    }

    .product-line__card:nth-child(12) {
        border-right: none;
    }

    .product-line__card:nth-child(14) {
        border-right: none;
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .product-line__card:nth-child(2) {
        border-right: none;
    }

    .product-line__card:nth-child(4) {
        border-right: none;
    }

    .product-line__card:nth-child(6) {
        border-right: none;
    }

    .product-line__card:nth-child(8) {
        border-right: none;
    }

    .product-line__card:nth-child(10) {
        border-right: none;
    }

    .product-line__card:nth-child(12) {
        border-right: none;
    }

    .product-line__card:nth-child(14) {
        border-right: none;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px) {


    .product-line__card:hover .product-line__card-item .product-line__card-info {
        transition: all ease-in 0.3s;
        opacity: 1;
        left: -36px;
    }

    .product-line__card:hover .product-line__card-item .product__photo {
        transition: all ease-in 0.3s;
        left: -44px;
    }


    .product-line__card {
        padding: 0;
    }

    .product-line__card:nth-child(2) {
        border-right: none;
    }

    .product-line__card:nth-child(4) {
        border-right: none;
    }

    .product-line__card:nth-child(6) {
        border-right: none;
    }

    .product-line__card:nth-child(8) {
        border-right: none;
    }

    .product-line__card:nth-child(10) {
        border-right: none;
    }

    .product-line__card:nth-child(12) {
        border-right: none;
    }

    .product-line__card:nth-child(14) {
        border-right: none;
    }

    .product-line__card:hover .product__container .product-button {
        transition: all ease-in 0.3s;
        width: 60px;
        opacity: 1;
    }
}