.product-line__small-description p {
    color: #202020;
    font-family: "TTFirsNeue-Regular";
    font-size: 20px;
    font-weight: 200;
    line-height: 23.72px;
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .product-line__small-description p {
        font-size: 16px;
    }

    .product-line__small-description p span {
        font-size: 16px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .product-line__small-description p {
        font-size: 14px;
    }

    .product-line__small-description p span {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .product-line__small-description p {
        font-size: 16px;
    }

    .product-line__small-description p span {
        font-size: 16px;
    }

}

@media screen and (max-width: 425px) and (min-width: 375px) {
    .product-line__small-description p {
        font-size: 16px;
    }

    .product-line__small-description p span {
        font-size: 16px;
    }

}



.product-line__small-description p span {
    font-weight: 700;
}

.product-line__small-description {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
    margin-bottom: 30px;
}