.product-line__catalog-cards-container {
    width: 75%;
}


@media screen and (max-width: 767px) and (min-width: 425px) {
    .product-line__catalog-cards-container {
        width: 90%;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .product-line__catalog-cards-container {
        width: 90%;
    }
}
