.product-line__dropdown-title-link {
    color: #202020;
    font-family: "TTFirsNeue-Regular";
    font-size: 23px;
    font-weight: 400;
    line-height: 23.72px;
    letter-spacing: 0.54px;
    text-decoration: none;
    margin-bottom: 8px;
}

.product-line__dropdown-title-link:hover {
    text-decoration: underline;
    cursor: pointer;
}