.product__container {
    display: flex;
    margin-bottom: 15px;
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .product__container{
        justify-content: flex-start;
    }
}