.product-line__adaptive-image-logo {
    display: none;
    position: absolute;
    left: 5%;
    bottom: 10%;
    z-index: 1;
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .product-line__adaptive-image-logo {
        display: flex;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .product-line__adaptive-image-logo {
        display: flex;
    }
}


@media screen and (max-width: 767px) and (min-width: 425px) {
    .product-line__adaptive-image-logo {
        display: flex;
    }
    
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .product-line__adaptive-image-logo {
        display: flex;
    }
}
