.product-line__filter-item {
    display: flex;
    flex-direction: row;
    width: 33.3%;
}

@media screen and (max-width: 1440px) and (min-width: 1200px) {
    .product-line__filter-item {
        width: 50%;
    }
    .product-line__filter-item:nth-child(3) {
        width: 100%;
    }

    .product-line__filter-item:nth-child(1) {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .product-line__filter-item:nth-child(2) {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .product-line__filter-item {
        width: 50%;
    }
    .product-line__filter-item:nth-child(3) {
        width: 100%;
    }

    .product-line__filter-item:nth-child(1) {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .product-line__filter-item:nth-child(2) {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .product-line__filter-item {
        width: 50%;
    }
    .product-line__filter-item:nth-child(3) {
        width: 100%;
    }

    .product-line__filter-item:nth-child(1) {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .product-line__filter-item:nth-child(2) {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 20px;
    }
}


@media screen and (max-width: 767px) and (min-width: 425px) {
    .product-line__filter-item {
        width: 50%;
        
    }
    .product-line__filter-item:nth-child(3) {
        width: 100%;
        
    }

    .product-line__filter-item:nth-child(1) {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-bottom: 25px;
    }

    .product-line__filter-item:nth-child(2) {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin-bottom: 25px;
    }

    .product-line__filter-item p {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .product-line__filter-item {
        width: 50%;
        
    }
    .product-line__filter-item:nth-child(3) {
        width: 100%;
    }

    .product-line__filter-item:nth-child(1) {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-bottom: 25px;
    }

    .product-line__filter-item:nth-child(2) {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin-bottom: 25px;
    }

    .product-line__filter-item p {
        margin-bottom: 15px;
    }
}
