.product-line__filters-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
    flex-wrap: wrap;
}

.product-line__filters-container p {
    color: #000000;
    font-family: "TTFirsNeue-Regular";
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 19.72px;
    margin-right: 10px;
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .product-line__filters-container p {
        font-size: 12px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .product-line__filters-container p {
        font-size: 10px;
        line-height: 15.72px;
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .product-line__filters-container p {
        font-size: 10px;
        line-height: 15.72px;
    }
}   

@media screen and (max-width: 424px) and (min-width: 375px) {
    .product-line__filters-container p {
        font-size: 10px;
        line-height: 15.72px;
    }
}
