.product-line__select {
    background-color: #cccccc;
    border: 1px solid #e1e1e1;
    width: 175px;
    height: 25px;
    margin-right: 25px;
    color: #000000;
    font-family: "TTFirsNeue-Regular";
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}