.product-line__catalog {
    max-width: 1920px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 100px;
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .product-line__catalog {
        width: 90%;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .product-line__catalog {
        width: 90%;
    }
}
