.product-line__card {
    margin-top: 25px;
    border-right: rgba(0, 0, 0, 0.4) 1px solid;
}

.product-line__card:hover {
    background-color: rgba(235, 236, 235, 0.5)
}

.product-line__card:nth-child(4) {
    border-right: none;
}

.product-line__card:nth-child(8) {
    border-right: none;
}

.product-line__card:nth-child(12) {
    border-right: none;
}

.product-line__card:nth-child(16) {
    border-right: none;
}