.footer-figure__container {
    position: relative;
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .footer-figure__container {
       order: 3; 
       width: 50%;
       flex-wrap: wrap;
       margin: 0 auto;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px)  {
    .footer-figure__container {
        order: 3; 
        width: 50%;
        flex-wrap: wrap;
        margin: 0 auto;
     }
}