.footer__figure {
    z-index: 0;
    position: absolute;
    width: 799px;
    height: 304px;
    right: -90%;
    object-fit: contain;
}

@media screen and (max-width: 1660px) and (min-width: 1441px) {
    .footer__figure {
        right: -110%;
        height: 275px;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1200px) {
    .footer__figure {
        right: -82%;
        width: 655px;
        height: 250px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .footer__figure {
        width: 685px;
        height: 225px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .footer__figure {
        height: 160px;
        width: 638px;
        right: -126%;
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .footer__figure {
        display: none;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .footer__figure {
        display: none;
    }
}