.footer__logo {
    width: 217px;
    height: 102px;
    margin-top: 39px;
}

@media screen and (max-width: 1660px) and (min-width: 1441px) {
    .footer__logo {
        width: 165px;
        height: 75px;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1200px) {
    .footer__logo {
        width: 145px;
        height: 75px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .footer__logo {
        width: 125px;
        height: 65px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .footer__logo {
        width: 100px;
        height: 55px;
        margin-left: 25px;
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .footer__logo {
       order: 2; 
       margin-right: 0;
       margin-left: auto;
       width: 150px;
        height: 75px;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px)  {
    .footer__logo {
        order: 2; 
        margin-right: 0;
        margin-left: auto;
        width: 150px;
        height: 75px;
     }
}