.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 304px;
    margin: 0 auto;

    background-image: url("../../../images/background.png");
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
}


@media screen and (max-width: 1660px) and (min-width: 1441px) {
    .footer {
        height: 250px;
        margin-left: 100px;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1200px) {
    .footer {
        margin-left: 65px;
        height: 250px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .footer {
        margin-left: 60px;
        height: 225px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .footer {
        margin-left: 25px;
        height: 160px;
    }
}