.footer__container {
    display: flex;
    justify-content: stretch;
    width: 80%;
}




@media screen and (max-width: 1440px) and (min-width: 1200px) {
    .footer__container {
        width: 90%;
    }
}


@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .footer__container {
        width: 95%;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .footer__container {
        width: 95%;
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .footer__container {
        width: 80%;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0 auto;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px)  {
    .footer__container {
        width: 80%;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0 auto;
    }
}