.about-description__bottom-container {
    background-image: url("../../../images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: relative;
    padding-bottom: 150px;
}