.about-description-igredients-text {
    width: 1270px;
    height: 75px;
    color: #3c3c3c;
    font-family: "TTFirsNeue-Regular";
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.47px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 67px;
}