.red-star-labs__logo {
    width: 266px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 35px;
}

.red-star-labs__home {
    width: 217px;
    height: 81px;
    margin-top: 50px;
    margin-bottom: 35px;
}