.contacts-form__label {
    width: 175px;
    color: #505050;
    font-family: "TTFirsNeue-Regular";
    font-size: 12px;
    margin-left: 5px;
}

#scales {
    background-color: black;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .contacts-form__label {
        width: 123px;
        font-size: 9px;
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .contacts-form__label {
        width: 175px;
        margin-top: 0;
        font-size: 10px;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .contacts-form__label {
        width: 150px;
        margin-top: 0;
        font-size: 10px;
    }
}