.contacts-form__select-container {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .contacts-form__select-container {
        justify-content: center;
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .contacts-form__select-container {
        width: 300px;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .contacts-form__select-container {
        width: 275px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
}