.where-i-can-buy__list-shops {
    width: 100%;
    max-height: 612px;
    overflow: hidden;
    box-sizing: border-box;
    overflow-y: scroll;
    margin-right: 25px;
}

.where-i-can-buy__list-shops::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: #ac140f;
    border-radius: 5px;
}

.where-i-can-buy__list-shops::-webkit-scrollbar {
    width: 2px;
    background-color: #848484;
}


@media screen and (max-width: 1600px) and (min-width: 1401px) {
    .where-i-can-buy__list-shops {
        height: 450px;
    }
}

@media screen and (max-width: 1440px) and (min-width: 1200px) {
    .where-i-can-buy__list-shops {
        margin-right: 0;
        margin-top: 35px;
        width: 70%;
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .where-i-can-buy__list-shops {
        margin-right: 0;
        margin-top: 35px;
        width: 70%;
        margin-bottom: 45px;

    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .where-i-can-buy__list-shops {
        margin-right: 0;
        margin-top: 35px;
        width: 80%;
        margin-bottom: 45px;
    }
}


  