.where-i-can-buy__adress-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .where-i-can-buy__adress-container {
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 0;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .where-i-can-buy__adress-container {
        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 0;
    }
}
