.where-i-can-buy__shop-description {
    color: #202020;
    font-size: 14px;
    line-height: 23.72px;
    font-family: "TTFirsNeue-Regular";
    font-weight: 400;
    letter-spacing: 0.38px;
    text-decoration: none;
    max-width: 142px;
}



@media screen and (max-width: 1440px) and (min-width: 1200px) {
    .where-i-can-buy__shop-description {
        font-size: 12px;
        line-height: 17.5px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .where-i-can-buy__shop-description {
        font-size: 12px;
        line-height: 17.5px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .where-i-can-buy__shop-description {
        font-size: 12px;
        line-height: 17.5px;
    }     
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .where-i-can-buy__shop-description {
        margin-right: 0;
        font-size: 14px;
        line-height: 18.72px;
        max-width: 200px;
    }
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .where-i-can-buy__shop-description {
        margin-right: 0;
        font-size: 14px;
        line-height: 18.72px;
        max-width: 200px;
    }
}
