.bm-item {
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
}

.bm-item ul {
    padding-left: 0;
}

.bm-item:hover {
    color: white;
}

.bm-burger-button {
    position: absolute;
    width: 36px;
    height: 30px;
    right: 0%;
    top: 43%;
}

/* Color/shape of burger icon bars */

.bm-burger-bars {
    background: #373a47;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */

.bm-cross {
    background: #bdc3c7;
}

/* General sidebar styles */

.bm-menu {
    background: #ffffff;
    /*padding: 2.5em 1.5em 0;*/
    font-size: 1.15em;
}

.bm-item {
    margin-bottom: 0;
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */

.bm-item-list {
    color: #b8b7ad;
}

/* Styling of overlay */

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.bm-item .header__nav-items {
    display: flex;
    flex-direction: column;
}

.bm-item .header__nav-links {
    margin-top: 0;
}

.bm-item .header__nav-links li {
    margin-right: 0;
}

.bm-item .header__nav-items li {
    height: 50px;
    margin-top: 0;
    padding-bottom: 18px;
    padding-top: 18px;
    padding-left: 25px;
    border-bottom: #8E8E8E 1px solid;
}

.bm-item .header__nav-items li .link {
    color: #ffffff;
}

.bm-item .header__nav-items {
    width: 100%;
}


.bm-item:nth-child(1) {
    padding: 25px;
    height: 460px;
}

.bm-item:nth-child(2) {
    width: 100%;
    height: 50px;
    background-color: #960001;
    color: #ffffff;
    line-height: 47.16px;
    padding-left: 25px;
    margin: 0;
}

.bm-item:nth-child(3) {
    width: 100%;
    height: 227px;
    background-color: #535353;
    margin: 0;
}

.bm-item:nth-child(4) {
    width: 100%;
    height: 62px;
    background-color: #535353;
}

.bm-item ul {
    margin: 0;
}

.bm-item .header__nav-social  .header__nav-items {
    margin: 0;
    flex-direction: row;
    border-bottom: none;
}

.bm-item .header__nav-social {
    margin-top: 0;
}

.burger-social {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-start;
}

.fb-icon {
    width: 40px;
    height: 40px;
    
}

.inst-icon {
    width: 40px;
    height: 40px;
}

.icon-container {
    width: 20px;
    height: 20px;
    margin: 10px 25px 10px 0;
    cursor: pointer;
}

.social-links__telephone {
    width: 165px;
    color: #ffffff;
    font-family: "TTFirsNeue-DemiBold";
    font-size: 15px;
    margin: 18px 0;
    line-height: 31.5px;
    padding-left: 25px;
}

.bm-item-list .header__dropdown-content-product {
    display: flex;
    flex-direction: column;
    height: 511px;
}

.bm-item-list .header__dropdown-content-product-card {
    display: flex;
    flex-direction: column;
}

.bm-item-list .header__dropdown-content-product-card .header__dropdown-content-card-image img {
    width: 70px;
}

.bm-item-list .header__dropdown-content-card {
    width: 225px;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    margin-top: 15px;
}


.header__dropdown-content-card_burger {
    border-right: none !important;
    border-bottom: none !important; 
}

.bm-item-list .header__dropdown-content-text {
    width: 114px;
}
.bm-item-list .header__dropdown-content-title {
    display: none;
}