.product-line__card-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 424px) and (min-width: 375px) {
    .product-line__card-item {
        width: 75px;
        padding-top: 25px;
    }
}