.link {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    font-family: "TTFirsNeue-DemiBold";
    color: #282828;
    margin: 0;
    height: 0;
}

.link:hover {
    color: #ad1410;
    cursor: pointer;
}


@media screen and (max-width: 1440px) and (min-width: 1200px) {
    .link {
        font-size: 11px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .link {
        font-size: 9px;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) { 
    .link {
        font-size: 7px;
    }
}