.product-card__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all ease-in-out 0.2s;
    max-width: 1116px;
    width: 80%;
    margin: 0 auto;
}

.product-card__container-card:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.product-card__container-card:hover .product-card__card{
    opacity: 1;
}

.product-card__container::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: #ac140f;
    border-radius: 5px;
    height: 2px;
}

.product-card__container::-webkit-scrollbar {
    width: 2px;
    background-color: #848484;
    height: 2px;
}


@media screen and (max-width: 1199px) and (min-width: 1024px) {
    .product-card__container {
        width: 100%;
        box-sizing: border-box;
        overflow-x: scroll;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .product-card__container {
        width: 100%;
        box-sizing: border-box;
        overflow-x: scroll;
    }
}

@media screen and (max-width: 767px) and (min-width: 425px) {
    .product-card__container {
        width: 100%;
        box-sizing: border-box;
        overflow-x: scroll;
    }
}

@media screen and (max-width: 425px) and (min-width: 375px) {
    .product-card__container {
        width: 100%;
        box-sizing: border-box;
        overflow-x: scroll;
    }
}