.product-card__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all ease-in-out 0.2s;
    max-width: 1116px;
    width: 100%;
    margin: 0 auto;
}

.product-card__container-card:hover {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.product-card__container-card:hover .product-card__card{
    opacity: 1;
}